[View in Colaboratory](https://colab.research.google.com/github/schwaaweb/aimlds1_02/blob/master/F02_SC--Data_Week_Sprint_Challenge.ipynb)

In [0]:
# LAMBDA SCHOOL
#
# MACHINE LEARNING
#
# MIT LICENSE

import numpy as np
import pandas as pd

# Data Preparation Sprint Challenge

Data preparation can be an arduous process with many steps. These following challenges were all gone over in class.

There are six objectives in Data Preparation:

* select
* filter
* treat
* de-duplicate
* concatenate
* transform

There are three objectives in Data Visualization

* Draw an oblique topology
* Pairplot to find clusters
* Plot clusters together

Share with mlsubmissions@lambdaschool.com when finished.

# Select

Load `https://www.dropbox.com/s/xcqdya9svj04kwc/example4.csv?raw=1` and remove any rows that are not data samples.

Print your result and its dimensions.

# Filter

Only access the rows or columns of a pandas `DataFrame` that you want.

Load `https://www.dropbox.com/s/xcqdya9svj04kwc/example5.csv?raw=1` for these examples.

In [0]:
# Print only the third column

# Print columns 'a' and 'message'

# Print the first row

# Print the first and third rows

# Treat

Load `https://www.dropbox.com/s/9cljswede6r25ho/example5.csv?raw=1` for these examples

In [0]:
# Print the sum of NaN values in each column

# Drop all ROWS that contain NaN and print the result

# Replace all cells containing NaN using ffill

# De-Duplicate

Load `https://www.dropbox.com/s/5m89vi5qgu4g2cd/duped.csv?raw=1` for the following

In [0]:
# Print the contents of the dataframe after having dropped all duplicate rows

# Concatenate

Merge the Titanic and OKC datasets by `age` using `pd.merge` and the `on` argument.

In [0]:
Titanic = pd.DataFrame({
    'age': [29, 24, 23, 38, 48, 44],
    'name': ['alpha', 'nu', 'gamma', 'psi', 'theta', 'rho']
})
OKC = pd.DataFrame({
    'age': [48, 44, 38, 29, 24, 23],
    'alive': [False, True, False, True, False, True]
})

# Merge and print the result

# Transform

Use `groupby` to separate the following dataframe by `speed`.

In [0]:
Rockets = pd.DataFrame({
   'speed': ['fast', 'fast', 'fast', 'slow', 'slow'],
   'engine': ['XX9', '24-Bravo', 'Lambda Nu', 'X1', 'XX8'],
   'name': ['Musky', 'NASO', 'COSMO', 'Zucc', 'Dragon egg']
})

# `groupby` and store the result.

# Iterate over each result and print it on its own line/s

# Draw an oblique topology

The Mexican Hat Filter or Laplacian of Gaussian is used for cleaning up noisy 2d data, such as in images. It makes a pretty cool 3d graph.

Plot the filter that is returned by the defined function. The range of the function as defined should be interesting from approximately -1 to 1

In [0]:
def laplacian_of_gaussian(x,y):
    sigma = 0.3
    return 1/np.pi*sigma * (1-0.5*((x**2 + y**2)/sigma**2)) * np.exp(-((x**2+y**2)/(2*sigma**2)))

import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d

ax = plt.axes(projection='3d')

# Pairplot to find clusters

Clusters have a normal shape along each axis. Pairplot the following data and manually print which axes are normal.

Read your data from `https://www.dropbox.com/s/ziqwkm163ih96v0/sprint_challenge_data.csv?raw=1`

In [0]:
import seaborn as sns

# Pairplot via seaborn

# Plot clusters together

You found the clusters. Draw them on the same graph.

In [0]:
# Plot clusters