[View in Colaboratory](https://colab.research.google.com/github/schwaaweb/aimlds1_02/blob/master/M02_CC-DJ-Data_Preparation_Code_Challenge.ipynb)


Replace the missing values in the attached data set with the median of the age and salary columns respectively.

The data set is posted here:

https://www.dropbox.com/s/91tthp8h6hgxzi6/Data-CodeChallenge1.csv?raw=1

*Hint*: https://chrisalbon.com/machine_learning/preprocessing_structured_data/impute_missing_values_with_means/

Utilize the Imputer class from the sklearn.preprocessing page
 
*API documentation*: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer

# added usecols below because the first rows of strings was causing an error
# removed in deference to Thomson's solution 
# , usecols=['Age','Salary']

dataset = pd.read_csv('https://www.dropbox.com/s/91tthp8h6hgxzi6/Data-CodeChallenge1.csv?raw=1') 

print(dataset)

  Cities in East Bay   Age    Salary Own Home?
0         Pleasanton  44.0  172000.0        No
1       Walnut Creek  27.0  148000.0       Yes
2             Dublin  30.0  154000.0        No
3       Walnut Creek  38.0  161000.0        No
4             Dublin  40.0       NaN       Yes
5         Pleasanton  35.0  158000.0       Yes
6       Walnut Creek   NaN  152000.0        No
7         Pleasanton  48.0  179000.0       Yes
8             Dublin  50.0  183000.0        No
9         Pleasanton  37.0  167000.0       Yes

In [26]:
print(dataset.axes) # what does the array look like
print(dataset)
print(dataset.iloc[:,[1,2]].axes)
print(dataset.iloc[:,[1,2]])
dataset_working = dataset.iloc[:,[1,2]]

[RangeIndex(start=0, stop=10, step=1), Index(['Cities in East Bay', 'Age', 'Salary', 'Own Home?'], dtype='object')]
  Cities in East Bay   Age    Salary Own Home?
0         Pleasanton  44.0  172000.0        No
1       Walnut Creek  27.0  148000.0       Yes
2             Dublin  30.0  154000.0        No
3       Walnut Creek  38.0  161000.0        No
4             Dublin  40.0       NaN       Yes
5         Pleasanton  35.0  158000.0       Yes
6       Walnut Creek   NaN  152000.0        No
7         Pleasanton  48.0  179000.0       Yes
8             Dublin  50.0  183000.0        No
9         Pleasanton  37.0  167000.0       Yes
[RangeIndex(start=0, stop=10, step=1), Index(['Age', 'Salary'], dtype='object')]
    Age    Salary
0  44.0  172000.0
1  27.0  148000.0
2  30.0  154000.0
3  38.0  161000.0
4  40.0       NaN
5  35.0  158000.0
6   NaN  152000.0
7  48.0  179000.0
8  50.0  183000.0
9  37.0  167000.0

In [27]:
imputer_mean = Imputer(missing_values='NaN', strategy='mean', axis=0) # axis=0 is columns
imputer_mean = imputer_mean.fit(dataset_working) # train the data here
imputed_dataset = imputer_mean.transform(dataset_working.values) # transform the data here

In [28]:
print(imputed_dataset) # results

[[4.40000000e+01 1.72000000e+05]
 [2.70000000e+01 1.48000000e+05]
 [3.00000000e+01 1.54000000e+05]
 [3.80000000e+01 1.61000000e+05]
 [4.00000000e+01 1.63777778e+05]
 [3.50000000e+01 1.58000000e+05]
 [3.87777778e+01 1.52000000e+05]
 [4.80000000e+01 1.79000000e+05]
 [5.00000000e+01 1.83000000e+05]
 [3.70000000e+01 1.67000000e+05]]

In [32]:
# clean up the decimal places and insert the data back into dataset.
dataset['Age'] = np.round(imputed_dataset[:,0], decimals=1)
dataset['Salary'] = np.round(imputed_dataset[:,1], decimals=2)
print(dataset)

  Cities in East Bay   Age     Salary Own Home?
0         Pleasanton  44.0  172000.00        No
1       Walnut Creek  27.0  148000.00       Yes
2             Dublin  30.0  154000.00        No
3       Walnut Creek  38.0  161000.00        No
4             Dublin  40.0  163777.78       Yes
5         Pleasanton  35.0  158000.00       Yes
6       Walnut Creek  38.8  152000.00        No
7         Pleasanton  48.0  179000.00       Yes
8             Dublin  50.0  183000.00        No
9         Pleasanton  37.0  167000.00       Yes